You need to install this to run TickClick:

sudo apt install python3 python3-tk
sudo apt install python3-pip
sudo pip3 install pillow
sudo pip3 install opencv-python
sudo apt-get install python3-pil.imagetk
